src/main/resources/pl/idedyk/japanese/dictionary/kanjidic2/xsd/kanjidic2.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xml="http://www.w3.org/XML/1998/namespace"
	elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0">

	<xsd:element name="kanjidic2">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="header" minOccurs="1" maxOccurs="1" type="headerInfo" /> <!-- naglowek slownika -->
				<xsd:element name="character" minOccurs="0" maxOccurs="unbounded" type="characterInfo" /> <!-- lista znakow kanji -->
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>

	<xsd:complexType name="headerInfo">
		<xsd:sequence>
			<xsd:element name="file_version" minOccurs="1" maxOccurs="1" type="xsd:string" /> <!-- wersja pliku -->
			<xsd:element name="database_version" minOccurs="1" maxOccurs="1" type="xsd:string" /> <!-- wersja slownika -->
			<xsd:element name="date_of_creation" minOccurs="1" maxOccurs="1" type="xsd:date" /> <!-- data slownika -->
		</xsd:sequence>
	</xsd:complexType>

	<xsd:complexType name="characterInfo">
		<xsd:sequence>
			<xsd:element name="literal" minOccurs="1" maxOccurs="1" type="xsd:string" /> <!-- znak kanji -->

		</xsd:sequence>
	</xsd:complexType>
</xsd:schema>