src/main/resources/pl/idedyk/japanese/dictionary2/kanjidic2/xsd/kanjidic2.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xml="http://www.w3.org/XML/1998/namespace"
	elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0">

	<xsd:element name="kanjidic2">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="header" minOccurs="1" maxOccurs="1" type="headerInfo" /> <!-- naglowek slownika -->
				<xsd:element name="character" minOccurs="0" maxOccurs="unbounded" type="characterInfo" /> <!-- lista znakow kanji -->
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>

	<xsd:complexType name="headerInfo">
		<xsd:sequence>
			<xsd:element name="file_version" minOccurs="1" maxOccurs="1" type="xsd:string" /> <!-- wersja pliku -->
			<xsd:element name="database_version" minOccurs="1" maxOccurs="1" type="xsd:string" /> <!-- wersja slownika -->
			<xsd:element name="date_of_creation" minOccurs="1" maxOccurs="1" type="xsd:date" /> <!-- data slownika -->
		</xsd:sequence>
	</xsd:complexType>

	<xsd:complexType name="characterInfo">
		<xsd:sequence>
			<xsd:element name="literal" minOccurs="1" maxOccurs="1" type="xsd:string" /> <!-- znak kanji -->
			<xsd:element name="codepoint" minOccurs="1" maxOccurs="1" type="codePointInfo" /> <!-- informacja o kodowaniu w wybranych standardach -->
			<xsd:element name="radical" minOccurs="1" maxOccurs="1" type="radicalInfo" /> <!-- ??? -->
			<xsd:element name="misc" minOccurs="1" maxOccurs="1" type="miscInfo" /> <!-- rozne informacje -->
			<xsd:element name="dic_number" minOccurs="0" maxOccurs="1" type="dictionaryNumberInfo" /> <!-- odnosniki do innych slownikow -->
			<xsd:element name="query_code" minOccurs="0" maxOccurs="1" type="queryCodeInfo" /> <!-- informacje pomocne do wyszukiwania znakow -->
			<xsd:element name="reading_meaning" minOccurs="0" maxOccurs="1" type="readingMeaningInfo" /> <!-- informacje o czytaniu i znaczeniu -->
		</xsd:sequence>
	</xsd:complexType>

	<xsd:complexType name="codePointInfo">
		<xsd:sequence>
			<xsd:element name="cp_value" minOccurs="1" maxOccurs="unbounded" type="codePointValueInfo" /> <!-- kodowanie znaku -->
		</xsd:sequence>
	</xsd:complexType>

	<xsd:complexType name="codePointValueInfo">
		<xsd:simpleContent>
			<xsd:extension base="xsd:string">
				<xsd:attribute name="cp_type" use="required" type="codePointValueType" /> <!-- rodzaj kodowania -->
			</xsd:extension>
		</xsd:simpleContent>
	</xsd:complexType>

	<xsd:simpleType name="codePointValueType">
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="jis208" />
			<xsd:enumeration value="jis212" />
			<xsd:enumeration value="jis213" />
			<xsd:enumeration value="ucs" />
		</xsd:restriction>
	</xsd:simpleType>

	<xsd:complexType name="radicalInfo">
		<xsd:sequence>
			<xsd:element name="rad_value" minOccurs="1" maxOccurs="unbounded" type="radicalInfoValue" /> <!-- ??? -->
		</xsd:sequence>
	</xsd:complexType>

	<xsd:complexType name="radicalInfoValue">
		<xsd:simpleContent>
			<xsd:extension base="xsd:string">
				<xsd:attribute name="rad_type" use="required" type="radicalInfoValueType" /> <!-- ??? -->
			</xsd:extension>
		</xsd:simpleContent>
	</xsd:complexType>

	<xsd:simpleType name="radicalInfoValueType">
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="classical" />
			<xsd:enumeration value="nelson_c" />
		</xsd:restriction>
	</xsd:simpleType>

	<xsd:complexType name="miscInfo">
		<xsd:sequence>
			<xsd:element name="grade" minOccurs="0" maxOccurs="1" type="gradeType" /> <!-- numer stopnia w szkole, gdzie uczniowie ucza sie znaku -->
			<xsd:element name="stroke_count" minOccurs="1" maxOccurs="unbounded" type="xsd:integer" /> <!-- liczba kresek -->
			<xsd:element name="variant" minOccurs="0" maxOccurs="unbounded" type="miscInfoVariant" /> <!-- ??? -->
			<xsd:element name="freq" minOccurs="0" maxOccurs="1" type="xsd:integer" /> <!-- czestotliwosc wystepowania, im nizsza wartosc tym znak czesciej wystepuje w jezyku -->
			<xsd:element name="rad_name" minOccurs="0" maxOccurs="unbounded" type="xsd:string" /> <!-- jezeli znak kanji jest elementem podstawowym, element z nazwa tego elementu -->
			<xsd:element name="jlpt" minOccurs="0" maxOccurs="1" type="xsd:integer" /> <!-- numer JLPT, w ktorym znak wystepuje -->
		</xsd:sequence>
	</xsd:complexType>

	<xsd:simpleType name="gradeType">
		<xsd:restriction base="xsd:integer">
			<xsd:enumeration value="1" />
			<xsd:enumeration value="2" />
			<xsd:enumeration value="3" />
			<xsd:enumeration value="4" />
			<xsd:enumeration value="5" />
			<xsd:enumeration value="6" />
			<xsd:enumeration value="7" />
			<xsd:enumeration value="8" />
			<xsd:enumeration value="9" />
			<xsd:enumeration value="10" />
		</xsd:restriction>
	</xsd:simpleType>

	<xsd:complexType name="miscInfoVariant">
		<xsd:simpleContent>
			<xsd:extension base="xsd:string">
				<xsd:attribute name="var_type" use="required" type="miscInfoVariantType" /> <!-- ??? -->
			</xsd:extension>
		</xsd:simpleContent>
	</xsd:complexType>

	<xsd:simpleType name="miscInfoVariantType">
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="jis208" />
			<xsd:enumeration value="jis212" />
			<xsd:enumeration value="jis213" />
			<xsd:enumeration value="deroo" />
			<xsd:enumeration value="njecd" />
			<xsd:enumeration value="s_h" />
			<xsd:enumeration value="nelson_c" />
			<xsd:enumeration value="oneill" />
			<xsd:enumeration value="ucs" />
		</xsd:restriction>
	</xsd:simpleType>

	<xsd:complexType name="dictionaryNumberInfo">
		<xsd:sequence>
			<xsd:element name="dic_ref" minOccurs="1" maxOccurs="unbounded" type="dictionaryNumberInfoReference" /> <!-- referencja do innego slownika -->
		</xsd:sequence>
	</xsd:complexType>

	<xsd:complexType name="dictionaryNumberInfoReference">
		<xsd:simpleContent>
			<xsd:extension base="xsd:string">
				<xsd:attribute name="dr_type" use="required" type="dictionaryNumberInfoReferenceType" /> <!-- identyfikator slownika -->
				<xsd:attribute name="m_vol" use="optional" type="xsd:string" /> <!-- numer wolumenu mono -->
				<xsd:attribute name="m_page" use="optional" type="xsd:string" /> <!-- numer strony mono -->
			</xsd:extension>
		</xsd:simpleContent>
	</xsd:complexType>

	<xsd:simpleType name="dictionaryNumberInfoReferenceType">
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="nelson_c" />
			<xsd:enumeration value="nelson_n" />
			<xsd:enumeration value="halpern_njecd" />
			<xsd:enumeration value="halpern_kkd" />
			<xsd:enumeration value="halpern_kkld" />
			<xsd:enumeration value="halpern_kkld_2ed" />
			<xsd:enumeration value="heisig" />
			<xsd:enumeration value="heisig6" />
			<xsd:enumeration value="gakken" />
			<xsd:enumeration value="oneill_names" />
			<xsd:enumeration value="oneill_kk" />
			<xsd:enumeration value="moro" />
			<xsd:enumeration value="henshall" />
			<xsd:enumeration value="sh_kk" />
			<xsd:enumeration value="sh_kk2" />
			<xsd:enumeration value="sakade" />
			<xsd:enumeration value="jf_cards" />
			<xsd:enumeration value="henshall3" />
			<xsd:enumeration value="tutt_cards" />
			<xsd:enumeration value="crowley" />
			<xsd:enumeration value="kanji_in_context" />
			<xsd:enumeration value="busy_people" />
			<xsd:enumeration value="kodansha_compact" />
			<xsd:enumeration value="maniette" />
		</xsd:restriction>
	</xsd:simpleType>

	<xsd:complexType name="queryCodeInfo">
		<xsd:sequence>
			<xsd:element name="q_code" minOccurs="1" maxOccurs="unbounded" type="queryCodeInfoCode" /> <!-- element zawierajace informacje pomocne do wyszukiwania wedle podanego typu kryterium -->
		</xsd:sequence>
	</xsd:complexType>

	<xsd:complexType name="queryCodeInfoCode">
		<xsd:simpleContent>
			<xsd:extension base="xsd:string">
				<xsd:attribute name="qc_type" use="required" type="queryCodeInfoCodeType" /> <!-- rodzaj wyszukiwania -->
				<xsd:attribute name="skip_misclass" use="optional" type="queryCodeInfoCodeSkipMisClass" />	<!-- ??? -->			
			</xsd:extension>
		</xsd:simpleContent>
	</xsd:complexType>

	<xsd:simpleType name="queryCodeInfoCodeType">
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="skip" />
			<xsd:enumeration value="sh_desc" />
			<xsd:enumeration value="four_corner" />
			<xsd:enumeration value="deroo" />
			<xsd:enumeration value="misclass" />
		</xsd:restriction>
	</xsd:simpleType>

	<xsd:simpleType name="queryCodeInfoCodeSkipMisClass">
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="posn" />
			<xsd:enumeration value="stroke_count" />
			<xsd:enumeration value="stroke_and_posn" />
			<xsd:enumeration value="stroke_diff" />
		</xsd:restriction>
	</xsd:simpleType>

	<xsd:complexType name="readingMeaningInfo">
		<xsd:sequence>
			<xsd:element name="rmgroup" minOccurs="0" maxOccurs="1" type="readingMeaningInfoReadingMeaningGroup" /> <!-- element grupujacy czytania i znaczenia -->
			<xsd:element name="nanori" minOccurs="0" maxOccurs="unbounded" type="xsd:string" /> <!-- japonskie czytania, ktore teraz sa tylko powiazane z nazwami -->
		</xsd:sequence>
	</xsd:complexType>

	<xsd:complexType name="readingMeaningInfoReadingMeaningGroup">
		<xsd:sequence>
			<xsd:element name="reading" minOccurs="0" maxOccurs="unbounded" type="readingMeaningInfoReadingMeaningGroupReading" /> <!-- element grupujacy czytania -->
			<xsd:element name="meaning" minOccurs="0" maxOccurs="unbounded" type="readingMeaningInfoReadingMeaningGroupMeaning" /> <!-- znaczenie znaku -->
		</xsd:sequence>
	</xsd:complexType>

	<xsd:complexType name="readingMeaningInfoReadingMeaningGroupReading">
		<xsd:simpleContent>
			<xsd:extension base="xsd:string">
				<xsd:attribute name="r_type" use="required" type="readingMeaningInfoReadingMeaningGroupReadingType" /> <!-- rodzaj czytania -->
			</xsd:extension>
		</xsd:simpleContent>
	</xsd:complexType>

	<xsd:simpleType name="readingMeaningInfoReadingMeaningGroupReadingType">
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="pinyin" />
			<xsd:enumeration value="korean_r" />
			<xsd:enumeration value="korean_h" />
			<xsd:enumeration value="vietnam" />
			<xsd:enumeration value="ja_on" />
			<xsd:enumeration value="ja_kun" />
		</xsd:restriction>
	</xsd:simpleType>

	<xsd:complexType name="readingMeaningInfoReadingMeaningGroupMeaning">
		<xsd:simpleContent>
			<xsd:extension base="xsd:string">
				<xsd:attribute name="m_lang" use="optional" type="readingMeaningInfoReadingMeaningGroupMeaningLang" /> <!-- jezyk znaczenia -->
			</xsd:extension>
		</xsd:simpleContent>
	</xsd:complexType>

	<xsd:simpleType name="readingMeaningInfoReadingMeaningGroupMeaningLang">
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="en" />
			<xsd:enumeration value="fr" />
			<xsd:enumeration value="es" />
			<xsd:enumeration value="pt" />
			<xsd:enumeration value="pl" />
		</xsd:restriction>
	</xsd:simpleType>

</xsd:schema>
